# Archivos de compilación y ejecución
*.dll
*.exe
*.pdb
*.obj
*.bin

# Archivos de configuración
web.config
appsettings.json

# Archivos temporales
*.tmp
*.log
*.bak

# Archivos de caché
.vs

# Archivos de registro
*.log
*.txt

# Archivos de respaldo
*.bak
*.old

# Archivos de prueba
*.testresults
*.trx
